/* Header.css */

.header {
  display: flex;
  align-items: center;
  background-color: #232f3e; /* Dark Blue */
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  margin-right: 20px;
  object-fit: contain;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  background-color: #febd69; /* Light Orange */
}

.header__searchIn {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 24px 0 0 24px;
  outline: none;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #ffa41c; /* Darker Orange */
  border-radius: 0 24px 24px 0;
  color: #232f3e; /* Dark Blue for Icon */
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff; /* White */
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: #ffffff; /* White */
  margin-left: 10px;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  color: #febd69; /* Light Orange */
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .header__logo {
    margin: 0 auto;
  }

  .header__search {
    margin-top: 10px;
    width: 100%;
  }

  .header__nav {
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    width: auto;
  }
  .header__option {
    font-size: 12px;
  }

  .header__optionLineOne {
    font-size: 8px;
  }

  .header__optionLineTwo {
    font-size: 10px;
  }

  .header__optionBasket {
    font-size: 14px;
  }

  .header__searchIcon {
    height: 18px !important;
    padding: 3px;
  }
}
